
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .temp{
            background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(124,40,99,0.6222688904663427) 35%, rgba(0,212,255,1) 100%);
        }
    </style>
  </head>
  <body class="temp">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid ">
            <a class="navbar-brand text-danger" href="#">Dog Breed Classification</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item ">
                    <a class=" text-danger nav-link active" aria-current="page" href="/index">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class=" text-danger nav-link active" aria-current="page" href="/about">About</a>
                  </li>
                  <li class="nav-item ">
                    <a class=" text-danger nav-link active" aria-current="page" href="/upload">Classify</a>
                  </li>
                  </ul>
          
        </div>
  
    </nav><br>
    <div class="container">
        <div class="row h4 pb-2 mb-4 text-danger border-bottom border-danger">
            <h3>About Dataset</h3>
        </div>
        <div class="row border border-success p-2 mb-2 border-opacity-50 rounded text-white bg-success " style="--bs-bg-opacity: .5;">
            The Stanford Dogs dataset contains images of 120 breeds of dogs from around the world. This dataset has been built using images and annotation from ImageNet for the task of fine-grained image categorization. Contents of this dataset:
            <ul>
                <li class="list-group-item">Number of categories: 120</li>
                <li class="list-group-item">Number of images: 20,580</li>
                <li class="list-group-item">Annotations: Class labels, Bounding boxes</li>
                
              </ul> 
            

        </div>
        <!-- <div class="row h4 pb-2 mb-4 text-danger border-bottom border-danger">
            <h3>Breeds</h3>
        </div>
        <div class="row border border-success p-2 mb-2 border-opacity-50 rounded text-white bg-success " style="--bs-bg-opacity: .5;">
            The breeds supported by this algorithm can be checked here
            
            
              

        </div> -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
